{% load static %}

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset=""utf-8">
        <title>Kozel</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    </head>

    <body>
        <header class="main-header">
            <a class="logo-header" href="/kozel">
                <span class="site-name">Kozel</span>
                <span class="site_desc">Unidad Educativa Nueva Semilla</span>
            </a>

            <nav>
                <ul>
                    <li><a href="/kozel/carrito/0">Carrito</a></li>
                    <li><a href="/kozel/busqueda">Busqueda</a></li>
                </ul>
            </nav>
        </header>
                        
        {% block content %} 
        {% endblock content %}
    </body>
</html>
