{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="main-header">
    <a class="logo-header" href="/kozel/busqueda">
        <span class="site-name">Kozel</span>
        <span class="site-desc">Unidad Educativa Nueva Semilla</span>
    </a>
</header>

<h1>Kozel - Ropa Moderna</h1>

<p style="text-align:center">
    <img src="{% static 'images/fotos-kozel/Deconstruction.png'%}" height="170"></img>
</p>

<div class="centrar">
    <form action="/kozel/catalogo" method="post">
        {% csrf_token %}
        
        {{ form }}
    </form>
</div>

<div class="centrar">
<h2 style="text-align: center;">Productos del mes</h2>
{% for fila_productos in lista_productos_mes %}
    <div class="fila">
        {% for producto in fila_productos %}
            <div class="columna">
                <p>
                <a href="kozel/detalle/{{ producto.id }}/">
                    <img src="{% static 'images/fotos-kozel/'%}{{producto.foto1}}">
                </a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}