{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="centrar">
    <h1 style="text-align: center;">Carrito</h1>
    <br>
    
    <table>
    {% for articulo in contenido_carrito %}
        <tr>
            <td>
                <img src="{% static 'images/fotos-kozel/'%}{{articulo.variedad.producto.foto1}}" height="130">
            </td>
            <td>
                <p class="texto-carrito"><b>{{ articulo.variedad.producto.nombre }}</b></p>
                <p class="texto-carrito">Talla {{ articulo.variedad.talla }}</p>
                <i class="fa fa-circle fa-4x texto-carrito" style="color: #{{ articulo.variedad.color }}"></i>
                <p class="texto-carrito">Cantidad: {{ articulo.cantidad }}</p>
            </td>
            <td>
                <a href="/kozel/carrito/{{articulo.id}}">
                    <button type="submit" class="boton-borrar">
                        <i class="fa fa-trash-o fa-1x"></i>
                    </button>
                </a>        
            </td>
        <tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
