{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="centrar">
    <h1>Catálogo</h1>

    <h2 style="text-align: center;">Mostrando los artículos que contienen la palabra: "{{ filtro }}"</h2>

    <br>

    {% for fila_productos in productos_filtrados %}
        <div class="fila">
            {% for producto in fila_productos %}
                <div class="columna">
                    <p>
                    <a href="/kozel/detalle/{{ producto.id }}/">
                        <img src="{% static 'images/fotos-kozel/'%}{{producto.foto1}}">
                    </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}
